/* styles.css */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
}

html, body {
    overflow: hidden;
}

button:focus {outline:0;}

@media (max-width: 600px) {
    body {
        cursor: pointer;
    }
}

.popup {
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    width: 100vw;
    height: 100vh;
    background-color: black;
    opacity: 0;
    pointer-events: none;
    transition: opacity 0.5s linear;
}

.popup.visible {
    opacity: 1;
    pointer-events: all;
}

#panorama {
    width: 100vw;
    height: 100vh;
}

.close-button {
    position: absolute;
    right: 20px;
    top: 20px;
    border: 0;
    background: white;
    border-radius: 5px;
    color: black;
    font-size: 18px;
    padding: 5px 10px;
    font-weight: bold;
    line-height: 30px;
    display: flex;
    align-items: center;
    cursor: pointer;
    transition: all 0.3s linear;
    -webkit-appearance: none;
    -moz-appearance: none;
    -webkit-box-shadow: 0px 0px 20px 0px rgba(2,61,89,0.3);
    -moz-box-shadow: 0px 0px 20px 0px rgba(2,61,89,0.3);
    box-shadow: 0px 0px 20px 0px rgba(2,61,89,0.3);
    transform: scale(1);
    z-index: 2;
}

@media (min-width: 600px) {
    .close-button:hover {
        background-color: #f5faff;
        -webkit-box-shadow: 0px 0px 20px 0px rgba(2,61,89,0.5);
        -moz-box-shadow: 0px 0px 20px 0px rgba(2,61,89,0.5);
        box-shadow: 0px 0px 20px 0px rgba(2,61,89,0.5);
    }
}



.close-button:active {
    background-color: #e7f0f9;
    outline: none;
    -webkit-box-shadow: 0px 0px 20px 0px rgba(2,61,89,0.75);
    -moz-box-shadow: 0px 0px 20px 0px rgba(2,61,89,0.75);
    box-shadow: 0px 0px 20px 0px rgba(2,61,89,0.75);
    transform: scale(0.85);
}

.close-button svg {
    width: 35px;
    height: 35px;
}

.pnlm-render-container {
    height: 100%;
}

.logos {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 300px;
    height: 200px;
    pointer-events: none;
}

.logos .logo-images {
    position: absolute;
    background-image: url("./logos.png");
    background-repeat: no-repeat;
    background-size: contain;
    width: 263px;
    height: 91px;
    display: block;
    left: 20px;
    bottom: 20px;
    background-color: white;
    border: 10px solid white;
    border-radius: 10px;
}

#panoramaLogos {
    opacity: 0;
    transition: opacity 1s linear;
}

#panoramaLogos.visible {
    opacity: 1;
}

@media (max-width: 600px) {
    .logos .logo-images {
        width: 228px;
        height: 58px;
    }
}

.heading {
    width: 30%;
    max-width: 300px;
    position: fixed;
    top: 20px;
    left: 50%;
    transform: translateX(-50%);
}

.heading img {
    width: 100%;
}

.panorama-button {
    display: block;
    width: 50px;
    height: 50px;
    background-color: white;
    border-radius: 50px;
    position: fixed;
    top: 50%;
    transform: translateY(-50%) scale(1);
    cursor: pointer;
    -webkit-box-shadow: 0px 0px 20px 0px rgba(2,61,89,0.3);
    -moz-box-shadow: 0px 0px 20px 0px rgba(2,61,89,0.3);
    box-shadow: 0px 0px 20px 0px rgba(2,61,89,0.3);
    transition: all 0.3s linear;
    border: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    z-index: 2;
}

@media (min-width: 600px) {
    .panorama-button:hover {
        background-color: #f5faff;
        -webkit-box-shadow: 0px 0px 20px 0px rgba(2,61,89,0.5);
        -moz-box-shadow: 0px 0px 20px 0px rgba(2,61,89,0.5);
        box-shadow: 0px 0px 20px 0px rgba(2,61,89,0.5);
    }
}



.panorama-button:active {
    opacity: 1;
    background-color: #e7f0f9;
    -webkit-box-shadow: 0px 0px 20px 0px rgba(2,61,89,0.75);
    -moz-box-shadow: 0px 0px 20px 0px rgba(2,61,89,0.75);
    box-shadow: 0px 0px 20px 0px rgba(2,61,89,0.75);
    transform: translateY(-50%) scale(0.85);
}

.panorama-button .icon {
    background-image: url("./arrow.svg");
    display: block;
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    width: 20px;
    height: 20px;
    margin: 15px;
}

.panorama-button.next {
    right: 20px;
}

.panorama-button.prev {
    left: 20px;
}

.panorama-button.next .icon {
    transform: scale(-1);
}

@media (max-width: 600px) {
    .logos {
        width: 100%;
    }
    .logos .logo-images {
        width: 100%;
        left: 0;
        bottom: 0;
        background-position: center;
        border-radius: 0;
    }
}

.user-content {
    position: fixed;
    bottom: 20px;
    right: 20px;
    width: calc(100vw - 320px);
    height: 91px;
    background-color: white;
    border-radius: 10px;
    display: block;
    padding: 10px;
    box-sizing: border-box;
    opacity: 0;
}

.user-content h2, .user-content p {
    color: #023D59;
}

.user-content h2 {
    font-size: 18px;
    font-family: 'Roboto Condensed', sans-serif;
    font-weight: bold;
    margin-bottom: 7px;
}

.user-content p {
    font-size: 14px;
    font-family: 'Open Sans', sans-serif;
}

@media (max-width: 990px) {
    .user-content h2 {
        font-size: 14px;
        margin-bottom: 5px;
    }
    
    .user-content p {
        font-size: 11px;
    }
}

@media (max-width: 600px) {
    .user-content {
        width: 100%;
        left: 0;
        right: 0;
        border-radius: 0;
        bottom: 58px;
        max-height: 35px;
        border-bottom: 1px solid #4f778b;
        height: auto;
    }

    .user-content.show-description {
        max-height: 500px;
        transition: max-height 0.5s ease-in;
    }

    .user-content p {
        opacity: 0;
        transition: opacity 0.5s ease-in;
    }

    .user-content.show-description p {
        opacity: 1;
    }

    .description {
        display: block;
        position: absolute;
        right: 10px;
        top: 4px;
        height: 27px;
        width: 100%;
        background-size: contain;
        background-repeat: no-repeat;
        background-position: right 10px center;
        border: 0;
        background-color: transparent;
    }

    .description.open {
        background-image: url("./info.svg");
    }

    .description.close {
        background-image: url("./closeInfo.svg");
        background-size: 20px 20px;
    }

}

.user-content.hidden {
    animation: hide 0.5s forwards;
}

.user-content.visible {
    animation: show 0.5s forwards;
    animation-delay: 1s;
}

@media (max-width: 600px) {
    .user-content.visible {
        animation-delay: 0.5s;
    }
}

@keyframes hide {
    0% { opacity: 1 }
    100% { opacity: 0 }
}

@keyframes show {
    0% { opacity: 0 }
    100% { opacity: 1 }
}